# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autotool
.deps/
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1

*.log
*.trs

# Others
.*.swp

# Binaries
src/IndriPruneIndex
