# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autotool
Makefile
acinclude.m4
autom4te.cache
config.h
config.log
config.status
src/.deps/
src/Makefile
stamp-h1

# Others
*.swp
.*.swp

# Binaries
src/sip
